body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #353535, #ffffff);
}

.container {
    text-align: center;
}

.logo {
    width: 300px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(255,255,255,0.2);
}

.title {
    font-size: 48px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: white;
}

.input-box {
    padding: 10px;
    font-size: 16px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid white;
}

.btn {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #494949;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #666;
    transform: scale(1.05);
}